<title>My application</title>
  <h1>Welcome!</h1>
    Result is {{result}}

<h5>Programın ne yaptığından kısaca bahsedelim:</h5>
<h5>1) İlk sütuna alt alta string'ler giriniz.</h5>
<h5>2) İkinci sütuna alt alta string'ler giriniz.</h5>
<h5>3) Üçüncü sütuna bir sayı giriniz.</h5>
<h5>Programda birinci ve ikinci sütuna girilen string listesi karşılaştırılır ve ortak eleman sayısı bulunur. 
Eğer ortak eleman sayısı üçüncü sütuna girilen sayı ile aynı ise true farklı ise false döner. </h5>

  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30">
        </textarea>
        <textarea name="input2" rows="10" cols="30">
        </textarea>
	<textarea name="input3" rows="1" cols="30">
        </textarea>
        <br>
        <input type="submit">
  </form>

